.header-img {
	width:100%;
    max-width:800px;
    border: 2px solid;
}

img {
	width:100%;
	max-width:800px;
	border-radius:5px;
    border: 2px solid;
    image-orientation: from-image;

}

.post-div {
	text-align:center;
	width:100%;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
}

/* Text styles */
.date-text {
	line-height: .75;
}

.title-text {
	line-height: 1;
}