.header-img {
	width:100%;
    max-width:1000px;
    border: 2px solid;
}

img {
	width:100%;
	max-width:800px;
	border-radius:5px;
    border: 2px solid;
    image-orientation: from-image;

}

/* Text styles */
.date-text {
	line-height: 1;
}

.title-text {
	line-height: 1;
}